<div class="row">
	<div class="span6">
		<h2>Current Assignments</h2>
		<%= render :partial => "current_assignments" unless @assignments.empty? %>
	</div>
	<div class="span6">
		<h2>Past Assignments</h2>
		<%= render :partial => "past_assignments" unless @past_assignments.empty? %>
		
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Assignment"), new_assignment_path, :class => 'btn btn-primary' %>
