<!-- <h2>Quick Tasks</h2>
<ul>Switch to:
	<li><%# link_to 'Add a New Shift', new_shift_path %></li>
	<li><%# link_to 'Add a New Assignment', new_assignment_path %></li>
	<li><%# link_to 'Add a New Deacon', new_deacon_path %></li>
	<li><%# link_to 'Add a New Client', new_client_path %></li>
	<li><%# link_to 'Add a New Job', new_job_path %></li>
</ul> -->