<div class="row">
	<div class="span8">
		<h2>Current Clients</h2>
		<%= render :partial => "current_clients" %>
		<br />
		<%= render :partial => "inactive_clients" unless @inactive_clients.empty? %>
	</div>
</div>

<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Client"), new_client_path, :class => 'btn btn-primary', :id => 'Create Client' %>
