<h2>About the ACAC</h2>
<div class="row">
	<div class="span8">
		<p>
			As a community of Jesus' followers, we're committed to communicating His compassion, justice, transforming power, and liberating truth by our deeds and words.  We're committed to modeling His kingdom as an intentionally diverse church family - ethnically, socially and economically. We're committed to making a difference in the lives of our people - who come from the entire metropolitan area - and the life of the North Side community, where our campus is located.  And we're committed to planting communities of Jesus' followers in every people group throughout the world.

			This website is designed to serve our faith community, those wanting to know more about us, and those wanting to receive our teaching ministry. I'm glad you've decided to visit, and hope this site is helpful.*
		</p>
		<p>*The above is shamelessly copied from <a href='http://www.acac.net/index.cfm/PageID/848/index.html'>here</a>.</p>
	</div>
	<div class="span4">
		picture here
	</div>
</div>
