<h2>Contact the ACAC</h2>
<div class="row">
	<div class="span8">
		<p>Unfortunately, this is not the real website for the Allegheny Center Alliance Church, but 
			rather a course project for Josh Smith. If you are bitterly disappointed, you can contact
			him at:</p>

		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Josh Smith</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("jjs1@andrew.cmu.edu", "Josh Smith", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>412-867-5309</td>
			</tr>
		</table>

	</div>
	<div class="span4">
		picture here
	</div>
</div>


