<h2>Welcome to the Allegheny Center Alliance Church</h2>
<div class="row">
	<div class="span8">
		<p>Feel free to look around the site. This is merely the home page. There surely has to be something you're more interested in on this site. Seriously, look around.</p>
	</div>
	<div class="span4">
		picture here
	</div>
</div>
