<h2>The ACAC Privacy Policy</h2>
<div class="row">
	<div class="span8">
		<p>We're still developing our privacy policy. In the meantime, you probably shouldn't tell us anything about yourself.
		</p>
	</div>
	<div class="span4">
		picture here
	</div>
</div>

